.status {
  display: inline-block;
  padding: 6px 8px;
  border-radius: 12px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 10px;
  text-align: center;
}

.unknown {
  background-color: #f5a623;
  color: #fff;
}

.none {
  background-color: #999;
  color: #fff;
}

.request_blocked {
  background-color: #ff4d4f;
  color: #fff;
}

.response_blocked {
  background-color: #ff4d4f;
  color: #fff;
}

.request_allowed {
  background-color: #52c41a;
  color: #fff;
}

.response_allowed {
  background-color: #52c41a;
  color: #fff;
}

.modified {
  background-color: #13c2c2;
  color: #fff;
}
